.homeimg{
  background-image: url("https://gumlet.assettype.com/swarajya%2F2018-11%2F6aca5727-7409-4625-a415-e6a081ed0fbd%2FDtEGOksUwAApBt3.jpg?q=75&auto=format%2Ccompress&w=1200");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}